/* your code here */
#container{
    width: 50%%;
    height:350px;
    background-color:#000000 ;
    color: white;
   
}
#logo{
  
}
h1{
    position: relative;
    top: 20px;
    left: 30px;;
}
.media-icons{
    width: 50px;
    height: 50px;
    border-radius: 50%;
	display:flex;
	justify-content:space-between;
	padding-left:300px;
	padding-bottom:1px;
		
    
}
.link-boxes{
    display: flex;
    justify-content: space-around;
}
h3{
    text-decoration:underline;
    text-decoration-thickness: 4px;
}
#para1{
    background-color: #2d313b;
    color: white;
    padding-left:30px ;
    height: 40px;
    text-align:left;
    padding-top:12px ;
} 
#para2{
    position: relative;
    left:1300px ;
    bottom:53px ;
    color: white;
    
}
main-para{
    position:relative;
    bottom:600px;
}